<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to 'The ultimate Cocktail list', root_path, { class: "navbar-wagon-brand", style: "text-decoration: none" } %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links -->
    <%= link_to 'New Cocktail', new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
